* { margin: 0; 
    padding: 0;
}
ul, ol { list-style: none;}
img { display: block;}
a {
    text-decoration: none;
    color: #333333;
}
h1,h2,h3,h4,h5,h6 { 
    font-size: 16px;
    font-weight: normal;
}
html, body { 
    font-family: Arial;
    height: 100%;
    overflow-y: hidden; 
}

.l { float: left;}
.r { float: right;}
.clear::after { 
    content: "";
    display: block;
    clear: both;
}

#header {
    height: 80px;
    background: #018ffb;
    border-top: 5px #424147 solid;
}
#header .header_logo h1 {
    margin: 19px 0 0 20px;
}
#header .header_logo h2 {
    margin: 28px 0 27px 14px;
    color: white;
    font-size: 24px;
    line-height: 25px;
}
#header .header_nav {
    margin-top: 33px;
    color: white;
    font-size: 14px;
    line-height: 14px;
}
#header .header_nav li {
    float: left;
    margin-right: 25px;
}
#header .header_nav a {
    color: white;
}
#header .header_nav i {
    margin-right: 8px;
    color: white;
}
#header .header_nav i.iconwode {
    font-size: 24px;
    position: relative;
    top: 4px;
    line-height: 8px;
}
#header .header_nav i.iconai-home {
    font-size: 20px;
    position: relative;
    top: 2px;
    line-height: 12px;
}
#menu { 
    width: 200px;
    height: calc( 100% - 85px);
    background: #424147;
}
#menu ul {
    color: #9a999e;
    text-align: center;
}
#menu li {
    width: 100%;
    height: 141px;
    border-bottom: 1px solid #424147;
    border-top: 1px solid #49484e;
}
#menu li i {
    font-size: 40px;
}
#menu li.menu_active {
    color: white;
    background: #4e4d53;
}
#menu li a {
    width: 100%;
    height: 100%;
    display: block;
    color: inherit;
    padding-top: 35px;
    box-sizing: border-box;
}
#menu li p {
    font-size: 17px;
    margin-top: 15px;
}
#main {
    overflow: hidden;
    height: calc(100% - 85px - 50px);
}
#main .main_container {
    height: 100%;
    overflow: auto;
}
#footer {
    height: 49px;
    border-top: 1px solid #dbe7ed;
    background: #f1f9fc;
    text-align: right;
    font-size: 12px;
    color: #888888;
    line-height: 49px;
    margin-right: 20px;
}